#choose_us {
    
    width: 100%;

    & .wrapper {

        padding: 100px 0;

        & .wrapper__theme h1 {
            height: 57px;
            font-size: 40px;
            font-weight: 700;
            line-height: 57px;
            letter-spacing: 0.20000000298023224px;
            text-align: center;
            color: #252B42;
        }

        & .wrapper__theme p {
            margin: 10px auto;
            width: 511px;
            height: 40px;
            color: #737373;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0.20000000298023224px;
            text-align: center;
        }

        &__list--items {
            display: flex;
            justify-content: space-between;
            gap: 30px;
            margin-top: 50px;

            &-item {
                background-color: #fff;
                width: 238px;
                height: 209px;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;
                transition: all 0.5s ease;
                cursor: pointer;

                &:hover {
                    box-shadow: none;
                }

                & img {
                    margin-left: 38%;
                    margin-top: 20%;
                }

                & h1 {
                    height: 57px;
                    font-size: 40px;
                    font-weight: 700;
                    line-height: 57px;
                    letter-spacing: 0.20000000298023224px;
                    text-align: center;
                    color: #252B42;
                }

                & p {
                    height: 24px;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 24px;
                    letter-spacing: 0.10000000149011612px;
                    text-align: center;
                    color: #737373;
                    margin-top: 10px;
                }
            }
        }
    }
}